  // Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)


:root{
  --nav-background-color: rgb(36, 35, 35);
  --main-background-color: rgb(56, 56, 56);
  --container-background-color:rgb(20, 20, 20);
}
*{
  box-sizing: border-box;
}
::-moz-selection {
  background:var(--nav-background-color);
}

::selection {
  background:var(--nav-background-color);
}
::-webkit-scrollbar {
  height: 0.4em;
  width: 0.4em;
  background:var(--nav-background-color);
}

#todos::-webkit-scrollbar {
  background:var(--container-background-color);
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: rgb(99, 99, 99);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #0d9488;
}
body{
  margin:0em;
  padding:0em;
}
#container{
  overflow: auto;
  color: aliceblue;
  font-family: tahoma,sans-serif,Verdana, Geneva ;
  background-color: var(--container-background-color);
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}


nav{
  min-width: fit-content;
  overflow:auto;
  background-color:  #737373;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 1;
}
button,.project{
  
  cursor: pointer;
  border-radius: 7.5px;
  padding: 0.5em;
  margin:0.5em;
  background-color: inherit;
  border:0em;
  color: inherit;
  font-size:0.75em;
  text-align: left;
  outline: none;
}

button:hover,.project:hover{
  filter:brightness(0.9);
  color: #0d9488;
  transition: 0.5s;
}


.project{
  cursor: default;
  padding:0em;
  display: flex ;
  flex-direction:row;
  flex-shrink: 1;
  flex-wrap: nowarp;
  padding: 0.1em;
}

.project-title{
  cursor:pointer;
  width: 100%;
  padding: 1em;
  margin: 0em;
}
.project-edit{
  color: aliceblue;
  background-color: rgb(71, 71, 71);
  margin: 0.1em;
  text-align: center;
  padding: 0.5em;
}



#inbox,#today,.project,#add-project{
  margin: 0em;
  padding: 1em;
}

#inbox-today-block,#projects-block{
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-wrap: wrap;
  border-radius: 10px;
  margin: 1em;
  padding: 0.5em;
  font-size: 1.5em;
  background-color: rgb(56, 56, 56);
}

#projects-title{
  cursor:default;
  text-align: center;
}

#todo-panel{
  background-color: #e5e5e5;
  width:auto;
  height: 100%;
  overflow: auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.todo,#add-todo{
  min-width: fit-content;
  width:100%;
  height:5em;
  margin: 0.75em;
  cursor: default;
  border-radius: 10px;
  padding: 0.5em 1em;
  background-color: var(--main-background-color);
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
}
.todo-check,.project-check{
  min-width: 1em;
  cursor: pointer;
  margin: auto 0.5em;
  width:1.25em;
  height: 1.25em;
  border: 0.1em solid #0d9488;
  border-radius: 50%;
  transition:0.25s;
}
.todo-check:hover,.project-check:hover{
  background-color: #0d9488;
}

.project-check{
  margin :auto 0.5em auto 0em ;
  width: 1em;
  height: 1em;
  border-width: 0.05em;
}


.todo-title{    
  width: 25%;
  font-size:1.5em;
  margin:auto 0.25em 
}



.todo-description{
  overflow: auto;
  word-break: break-all;
  padding:0.2em 0.5em;
  margin:auto 0em;
  width: 55%;
  opacity: 0.05;
}
.todo-description:hover{
  opacity: 1;
}

.todo-date{
  margin: auto 0em;
  text-align: center;
  width: 20%;
  font-size: 1.25em;
}

.todo-priority{
  min-width: 1em;
  width: 5%;
  margin: auto 0.5em;
  width:1em;
  height: 1em;
  border-radius: 50%;
}



.todo-edit{
  text-align: center;
  height: 4em;
  width: 4em;
  font-size: 1em;
  margin: auto;
  
}

#add-todo{
  padding:0px;
}
#add-todo button{
  height: 100%;
  width: 100%;
  margin: 0em ;
  font-size: 1.5em;
}
.active-button{
  border-left: 0.6em solid #0d9488;
  border-radius: 0.4em;
  color: #0d9488;
}

#form-container{
  
  font-family: tahoma,sans-serif,Verdana, Geneva;
  position: absolute;
  right:0em ;
  top:0em;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.521);
  display: flexbox;
  flex-direction: column;
  z-index: 1;
  position: fixed;
}
form{
  border: 3px solid #0d9488;
  border-radius:25px;
  margin:auto;
  margin-top: 5em;
  background-color: rgb(27, 24, 29);
  min-height: fit-content;
  width:25em;
  height: 30em;
  position: relative;
  padding-top:0.5em;
}

label{
  padding: 0.5em;
  padding-right: 0.2em;
  color: white;
  font-size: xx-large;

}
input, select{
  color: rgb(27, 24, 29);
  margin:0.5em 1em;
  font-size: x-large ;
  border-radius: 5px;
  border: 3px solid #0d9488;
  outline: none;
}
input[type=text]{
  width: 90%;
}
select{
  width: 42%;
  margin-left:2.5em;
  font-size: larger;  
}
input[type=date]{
  font-size: larger;
}

input::selection{
  color: rgb(73, 73, 73);
  background-color: #0d9488;
}

form span{
  display:none;
  color: brown;
  font-weight: bold;
  font-size:.7em;
}
form div{
  margin: 0.75em auto;
}
.form-button{
  user-select: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  height: 2em;
  width: 47.5%;
  position: absolute;
  bottom: 0.5em;
  font-size: larger;
  font-weight: 750;
  padding-top: 0.7em;
  color: rgba(255, 255, 255, 0.801);
  height: 2.75em;
}
.form-button:hover{
  box-shadow: 1px  1px 5px  grey;
}
.add{
  border:0.075em solid #0d9488;
  left: 0.3em;
}

.cancel{
  border:0.075em solid rgb(255, 58, 58);
  right: 0.3em;
}
.add:hover{
  color: #0d9488;
}
.cancel:hover{
  color: rgb(255, 58, 58);
}

.todo-id{
  display: none;
}

.project-input{
  min-height: 1em;
  min-width:6em;
  width: 80%;
  margin: auto;
}

.project-create,project-cancel{
  margin:auto ;
  text-align: center;
  padding: 0.5em;
  margin:auto 0.5em;
}

@media  screen and (max-width:480px) {
  


}